Client/ConsoleApplication1/Service References/ServiceReference1/BasicOperationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BasicOperationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61509/BasicOperationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61509/BasicOperationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61509/BasicOperationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PL.Entities" />
      <xsd:import schemaLocation="http://localhost:61509/BasicOperationService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBasicOperationService_GetNearest_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNearest" />
  </wsdl:message>
  <wsdl:message name="IBasicOperationService_GetNearest_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNearestResponse" />
  </wsdl:message>
  <wsdl:message name="IBasicOperationService_GetCheapestInCity_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCheapestInCity" />
  </wsdl:message>
  <wsdl:message name="IBasicOperationService_GetCheapestInCity_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCheapestInCityResponse" />
  </wsdl:message>
  <wsdl:message name="IBasicOperationService_GetManyCheapestInCity_InputMessage">
    <wsdl:part name="parameters" element="tns:GetManyCheapestInCity" />
  </wsdl:message>
  <wsdl:message name="IBasicOperationService_GetManyCheapestInCity_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetManyCheapestInCityResponse" />
  </wsdl:message>
  <wsdl:message name="IBasicOperationService_GetManyNearest_InputMessage">
    <wsdl:part name="parameters" element="tns:GetManyNearest" />
  </wsdl:message>
  <wsdl:message name="IBasicOperationService_GetManyNearest_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetManyNearestResponse" />
  </wsdl:message>
  <wsdl:message name="IBasicOperationService_SearchForKeyword_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchForKeyword" />
  </wsdl:message>
  <wsdl:message name="IBasicOperationService_SearchForKeyword_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchForKeywordResponse" />
  </wsdl:message>
  <wsdl:portType name="IBasicOperationService">
    <wsdl:operation name="GetNearest">
      <wsdl:input wsaw:Action="http://tempuri.org/IBasicOperationService/GetNearest" message="tns:IBasicOperationService_GetNearest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBasicOperationService/GetNearestResponse" message="tns:IBasicOperationService_GetNearest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCheapestInCity">
      <wsdl:input wsaw:Action="http://tempuri.org/IBasicOperationService/GetCheapestInCity" message="tns:IBasicOperationService_GetCheapestInCity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBasicOperationService/GetCheapestInCityResponse" message="tns:IBasicOperationService_GetCheapestInCity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetManyCheapestInCity">
      <wsdl:input wsaw:Action="http://tempuri.org/IBasicOperationService/GetManyCheapestInCity" message="tns:IBasicOperationService_GetManyCheapestInCity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBasicOperationService/GetManyCheapestInCityResponse" message="tns:IBasicOperationService_GetManyCheapestInCity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetManyNearest">
      <wsdl:input wsaw:Action="http://tempuri.org/IBasicOperationService/GetManyNearest" message="tns:IBasicOperationService_GetManyNearest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBasicOperationService/GetManyNearestResponse" message="tns:IBasicOperationService_GetManyNearest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchForKeyword">
      <wsdl:input wsaw:Action="http://tempuri.org/IBasicOperationService/SearchForKeyword" message="tns:IBasicOperationService_SearchForKeyword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBasicOperationService/SearchForKeywordResponse" message="tns:IBasicOperationService_SearchForKeyword_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBasicOperationService" type="tns:IBasicOperationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetNearest">
      <soap:operation soapAction="http://tempuri.org/IBasicOperationService/GetNearest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCheapestInCity">
      <soap:operation soapAction="http://tempuri.org/IBasicOperationService/GetCheapestInCity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetManyCheapestInCity">
      <soap:operation soapAction="http://tempuri.org/IBasicOperationService/GetManyCheapestInCity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetManyNearest">
      <soap:operation soapAction="http://tempuri.org/IBasicOperationService/GetManyNearest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchForKeyword">
      <soap:operation soapAction="http://tempuri.org/IBasicOperationService/SearchForKeyword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BasicOperationService">
    <wsdl:port name="BasicHttpBinding_IBasicOperationService" binding="tns:BasicHttpBinding_IBasicOperationService">
      <soap:address location="http://localhost:61509/BasicOperationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>