Client/WebApi/Service References/BasicOperationReference/BasicOperationService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61509/BasicOperationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PL.Entities" />
  <xs:complexType name="ArrayOfKeyValueOfShopContainedIn1GYAcmZp">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfShopContainedIn1GYAcmZp">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PL.Entities" name="Key" nillable="true" type="q1:Shop" />
            <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PL.Entities" name="Value" nillable="true" type="q2:ContainedIn" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfShopContainedIn1GYAcmZp" nillable="true" type="tns:ArrayOfKeyValueOfShopContainedIn1GYAcmZp" />
  <xs:complexType name="ArrayOfstring">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfstring" nillable="true" type="tns:ArrayOfstring" />
  <xs:complexType name="ArrayOfKeyValueOfShopdecimalrWOSI5g6">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfShopdecimalrWOSI5g6">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PL.Entities" name="Key" nillable="true" type="q3:Shop" />
            <xs:element name="Value" type="xs:decimal" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfShopdecimalrWOSI5g6" nillable="true" type="tns:ArrayOfKeyValueOfShopdecimalrWOSI5g6" />
</xs:schema>